.body {
    background: cornsilk;

}

#header1 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    padding-top: 60px;
}

.login_form {
    text-align: center;
    box-sizing: border-box;
}